In [1]:
from xml.etree.ElementInclude import include
# allows graphs to display
%matplotlib inline
# allows multiple outputs per cell
%config InteractiveShell.ast_node_interactivity = 'all'

# Load libraries and data
import duckdb
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# from sklearn.preprocessing import

DUCKDB_PATH = "/Users/bradybates/Desktop/personal_projects/LOCAL_BASEBALL_COMPUTER_DATASET/scripts/local.db"

In [18]:
class Query:
    query: str
    field_exclusions: list[str]
    field_inclusions: list[str]
    field_type_exclusions: list[str]
    field_type_inclusions: list[str]

    def __init__(
            self, query: str,
            field_exclusions: list[str] = None,
            field_inclusions: list[str] = None,
            field_type_exclusions: list[str] = None,
            field_type_inclusions: list[str] = None
        ):
        self.query = query
        self.field_exclusions = field_exclusions
        self.field_inclusions = field_inclusions
        self.field_type_exclusions = field_type_exclusions
        self.field_type_inclusions = field_type_inclusions

    def get_query(self):
        return self.query

    def get_field_type_exclusions(self):
        return self.field_type_exclusions

    # def __str__(self):
    #     return self.query
    #
    # def __repr__(self):
    #     return self.query

game_results = Query("""
    SELECT
      *,
      CASE WHEN home_team_id = winning_team_id THEN 1 ELSE 0 END AS home_winning_team,
      CASE WHEN away_team_id = winning_team_id THEN 1 ELSE 0 END AS away_winning_team
    FROM main_models.game_results
    ;
    """,
    field_type_exclusions=["boolean", "string"],
    field_type_inclusions=["number"]
)

In [3]:
# Check missing values
with duckdb.connect(DUCKDB_PATH) as connection:
  result = connection.execute("""
  SELECT *
  FROM main_models.game_results
  ;
  """).fetch_df()

result.info()
print(result.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233439 entries, 0 to 233438
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   game_id                     233439 non-null  object
 1   season                      233439 non-null  int16
 2   game_type                   233439 non-null  object
 3   game_finish_date            233439 non-null  datetime64[us]
 4   home_team_id                233439 non-null  object
 5   away_team_id                233439 non-null  object
 6   winning_team_id             232192 non-null  object
 7   losing_team_id              232192 non-null  object
 8   winning_team_score          232192 non-null  float64
 9   losing_team_score           232192 non-null  float64
 10  winning_side                232192 non-null  object
 11  losing_side                 232192 non-null  object
 12  forfeit_flag                233439 non-null  bool
 13  suspension_flag             233439 non-null  bool
 14  tie_flag                    233439 non-null  bool
 15  winning_pitcher_id          212251 non-null  object
 16  losing_pitcher_id           212251 non-null  object
 17  save_pitcher_id             75776 non-null   object
 18  game_winning_rbi_player_id  17227 non-null   object
 19  home_runs_scored            233439 non-null  uint8
 20  away_runs_scored            233439 non-null  uint8
 21  away_line_score             214861 non-null  object
 22  home_line_score             214861 non-null  object
 23  duration_minutes            214238 non-null  float64
 24  duration_outs               213142 non-null  float64
 25  is_nine_inning_game         233439 non-null  bool
 26  is_extra_inning_game        233439 non-null  bool
 27  is_shortened_game           233439 non-null  bool
dtypes: bool(6), datetime64[us](1), float64(4), int16(1), object(14), uint8(2)
memory usage: 36.1+ MB
0

In [4]:
### QUERY SCRATCHPAD ###
# result = connection.execute("""
# """).fetch_df().describe()
with duckdb.connect(DUCKDB_PATH) as connection:
    result = connection.execute(game_results.get_query()).fetch_df()

result.info()

# result2 = connection.execute("""
# SELECT
#   *,
#   CASE WHEN home_team_id = winning_team_id THEN 1 ELSE 0 END AS home_team_win,
#   CASE WHEN away_team_id = winning_team_id THEN 1 ELSE 0 END AS away_team_win,
#
# FROM main_models.game_results
# ;
# """).fetch_df().describe()


try:
    print(result)
    print("\n\nRESULT 2")
    print(result2)
except Exception as e:
    pass

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233439 entries, 0 to 233438
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   game_id                     233439 non-null  object
 1   season                      233439 non-null  int16
 2   game_type                   233439 non-null  object
 3   game_finish_date            233439 non-null  datetime64[us]
 4   home_team_id                233439 non-null  object
 5   away_team_id                233439 non-null  object
 6   winning_team_id             232192 non-null  object
 7   losing_team_id              232192 non-null  object
 8   winning_team_score          232192 non-null  float64
 9   losing_team_score           232192 non-null  float64
 10  winning_side                232192 non-null  object
 11  losing_side                 232192 non-null  object
 12  forfeit_flag                233439 non-null  bool
 13  suspension_flag             233439 non-null  bool
 14  tie_flag                    233439 non-null  bool
 15  winning_pitcher_id          212251 non-null  object
 16  losing_pitcher_id           212251 non-null  object
 17  save_pitcher_id             75776 non-null   object
 18  game_winning_rbi_player_id  17227 non-null   object
 19  home_runs_scored            233439 non-null  uint8
 20  away_runs_scored            233439 non-null  uint8
 21  away_line_score             214861 non-null  object
 22  home_line_score             214861 non-null  object
 23  duration_minutes            214238 non-null  float64
 24  duration_outs               213142 non-null  float64
 25  is_nine_inning_game         233439 non-null  bool
 26  is_extra_inning_game        233439 non-null  bool
 27  is_shortened_game           233439 non-null  bool
 28  home_winning_team           233439 non-null  int32
 29  away_winning_team           233439 non-null  int32
dtypes: bool(6), datetime64[us](1), float64(4), int16(1), int32(2), object(14), uint8(2)
memory usage: 37.8+ MB
             game_id  season      game_type game_finish_date home_team_id  \
0       WS1195304210    1953  RegularSeason       1953-04-21          WS1
1       WS1195304220    1953  RegularSeason       1953-04-22          WS1
2       WS1195304230    1953  RegularSeason       1953-04-23          WS1
3       WS1195305140    1953  RegularSeason       1953-05-14          WS1
4       WS1195305150    1953  RegularSeason       1953-05-15          WS1
...              ...     ...            ...              ...          ...
233434  LAN199508100    1995  RegularSeason       1995-08-10          LAN
233435  CHA192504260    1925  RegularSeason       1925-04-26          CHA
233436  DET193208010    1932  RegularSeason       1932-08-01          DET
233437  NYA193708060    1937  RegularSeason       1937-08-06          NYA
233438  WS2197109300    1971  RegularSeason       1971-09-30          WS2

       away_team_id winning_team_id losing_team_id  winning_team_score  \
0               PHA             WS1            PHA                 5.0
1               PHA             PHA            WS1                 7.0
2               PHA             PHA            WS1                 6.0
3               SLA             WS1            SLA                 2.0
4               SLA             SLA            WS1                 4.0
...             ...             ...            ...                 ...
233434          SLN             SLN            LAN                 2.0
233435          CLE             CLE            CHA                 7.0
233436          NYA             NYA            DET                 6.0
233437          CLE             NYA            CLE                 7.0
233438          NYA             NYA            WS2                 5.0

        losing_team_score  ... away_runs_scored away_line_score  \
0                     1.0  ...                1       000100000
1                     4.0  ...                7       102021100
2                     4.0  ...                6       110121000
3                     1.0  ...                1       000000001
4                     0.0  ...                4       000011002
...                   ...  ...              ...             ...
233434                1.0  ...                2       001000100
233435                2.0  ...                7       000311110
233436                3.0  ...                6       100000131
233437                6.0  ...                6      0101010003
233438                7.0  ...                5       220001000

        home_line_score  duration_minutes  duration_outs is_nine_inning_game  \
0             01102100x             157.0           51.0                True
1             000040000             140.0           54.0                True
2             110000002             131.0           54.0                True
3             00010100x             125.0           51.0                True
4             000000000             145.0           54.0                True
...                 ...               ...            ...                 ...
233434        000000001             154.0           52.0                True
233435        001010000             132.0           53.0                True
233436        100100001             128.0           54.0                True
233437       0002203000             209.0           59.0               False
233438        00400021x             158.0           50.0               False

       is_extra_inning_game is_shortened_game home_winning_team  \
0                     False             False                 1
1                     False             False                 0
2                     False             False                 0
3                     False             False                 1
4                     False             False                 0
...                     ...               ...               ...
233434                False             False                 0
233435                False             False                 0
233436                False             False                 0
233437                 True             False                 1
233438                False              True                 0

        away_winning_team
0                       0
1                       1
2                       1
3                       0
4                       1
...                   ...
233434                  1
233435                  1
233436                  1
233437                  0
233438                  1

[233439 rows x 30 columns]


RESULT 2

In [21]:
with duckdb.connect(DUCKDB_PATH) as connection:
    df = connection.execute("""
    SELECT
      *,
      CASE WHEN home_team_id = winning_team_id THEN 1 ELSE 0 END AS home_winning_team
    FROM main_models.game_results
    ;
    """).fetch_df()

include = df.select_dtypes(game_results.field_type_inclusions, exclude=game_results.field_type_exclusions)

sns.heatmap(df.corr(), annot=True)
plt.show()

ValueError: could not convert string to float: 'WS1195304210'